<div class="panel panel-default" ng-repeat="data in itemlist.items">
  <div class="panel-heading">
    <h3 class="panel-title">
      <a ng-link="item({isbn: data.isbn})">{{data.title}}</a>
    </h3>
  </div>
  <div class="panel-body">
    <div class="media" >
      <div class="media-body">
        <p>{{data.description}}</p>
        <p>{{data.isbn}}</p>
        <p>{{data.price | currency:"¥":0}}</p>
        <p>
          <a ng-click="itemlist.addCart(data.isbn)" class="btn btn-default" role="button">+</a>
          <a ng-click="itemlist.removeCart(data.isbn)" class="btn btn-default" role="button">-</a>
        </p>
      </div>
      <div class="media-right media-middle">
        <a ng-link="item({isbn: data.isbn})">
          <img width="200" class="media-object thumbnail" ng-src="{{data.image}}" alt="{{data.title}}">
        </a>
      </div>
    </div>
  </div>
</div>
